/* SELETTORI CSS per HEADER */


/* SELETTORI CSS per NAVIGATION BAR */


/* SELETTORI CSS per MAIN CONTENT */
@media (max-width: 600px) {

    .immagine {
        width: 380px; 
        height: 380px; 
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }
}

/* SELETTORI CSS per FOOTER */
